:root{
    --primary: #29A19C;
}

.active:after{
    position: absolute;
    content: "";
    width: 40px;
    border-radius: 20px 0 0 20px;
    height: 25px;
    left: 170px;
    top: 25px;
    background: var(--primary);
}
.active{
    color: var(--primary);
}