.wrap_logo{
  display: flex;
  align-items: center;
}
span{
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #29A19C;
  padding-left: 7px;

}